@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="https://dl.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!NkqXQSPtG_crwA6i_JeXxoQw2g3P3msSHY2OEGfal8p_Jq3sFEYxubDoLB3sGUb_agR_SCJ8vwcYoo6NW32RnVU2hD9nE6fkLmoqCGeIf-i6r0HlLJfS3PMN8MPXCousGu-mKeqmgav9SIGrULnAMyXmKLLfjS1kyIvfu-wMCXUrcZi1wzTFYFQgZd2Sca4yJiTQd4g23JfjyL9tRAjLKBjWW97GUFvzPTyctFnI65uYyUqrXZUkatG9NFSSj9Hr2OG32DmQs6NSiKltW6LgGELAL_Zcy8XLPaGbwx8et3ynZQGyvIfoDt3Xwsf8vlScajKYZMqfcwVErOY-wWqtQOlOgvURxhT4lvAKr-OtwdpDFxHzMkDMLLe1wMcwugvbFf6mnY06aOtuQl7vnhr9MT03Nkk5b_ciPhYa7MktJm7rb0KREHgUPRVhoGKZ6452kKafkoK9EPewkFyMfdeb9NDq5x5DOuzCaaROsbKfI_lBREjFRJDSXbJknkkvISNbyYMFFtOSFLqNueA7ax7oyiCbSEWIDNreEgKDTVWdtc4grgFe8DA5FnxGWGjHKQv3wQandEgrvZabFZrekthegVWwFhVgQkfaZXcMA5vZ22IxwWP0YIwVwH6tUFz7vE2tKgy-eygHHbBnzY6Zkc5Q5X6Ss6bXIS6tceT-MKslOqsGzFUUjxz0UVogmzV4UGfJ6XOw_NfL6knMXY1QMlr5NCJ4EJ5FCS0axGq3MAUh9NGoxYIoGQ..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=2.82.0" />

</div>
